- @results.each do |result|
  %div.post
    %div.edit_body
      %form{name: "update", method: "post", action: "/update"}
        %label{for: "title"} Title
        %input.edit_content{type: "text", name: "title", value: "#{result['title']}"}
        %label{for: "title"} Content
        %textarea.edit_content{ name: "content"}= "#{result['content']}"
        %label{for: "title"} Tags
        %input.edit_content.tags{type: "text", name: "tags", value: "#{result['tags']}"}
        %input{type: "hidden", value: "#{@params['post_id']}", name: "post_id"}
        - if session[:admin] == :true
          %ul.post_edit
            %li.post_edit
              %button.btn{type: "submit"}
                Update
            %li.post_edit
              %a{href: "/posts"}
                Cancel
