- if @message != nil
  %div.alert
    %button.close{type:"button", "data-dismiss" =>"alert"} &times;
    = @message
- @results.each do |result|
  %div.post
    %div.post_header
      %a{href: "/posts?post_id=#{result['id']}"}
        %h2.post_title= result['title']
    %div.post_body
      %p= result['content']
    %div.post_footer
      %p.post_tags
        = "tags: "
        %ul.post_tags
          - result['tags'].split(", ").each do |t|
            %li #{t}
      %p.post_date= result['creation_date'].split(//).first(16).join
      - if session[:admin] == :true
        %ul.post_admin
          %li
            %a{href: "/edit?post_id=#{result['id']}"}
              Edit
          %li
            %a{href: "/delete?post_id=#{result['id']}"}
              Delete
